GATSBY_CONTENTFUL_SPACE_ID=""
GATSBY_CONTENTFUL_ACCESS_TOKEN=""
GATSBY_CONTENTFUL_MANAGEMENT_TOKEN=""
GATSBY_CONTENTFUL_ENVIRONMENT_ID=""

GATSBY_COMMERCELAYER_CLIENT_ID=""
GATSBY_COMMERCELAYER_ENDPOINT=""
GATSBY_COMMERCELAYER_SLUG=""
GATSBY_COMMERCELAYER_SCOPE=""

# Get these values at https://manage.auth0.com
AUTH0_DOMAIN=""
AUTH0_CLIENTID=""
AUTH0_CALLBACK="http://localhost:8000/callback"