CONTENTFUL_SPACE_ID=""
CONTENTFUL_ACCESS_TOKEN=""

COMMERCELAYER_CLIENT_ID=""
COMMERCELAYER_ENDPOINT=""
COMMERCELAYER_SLUG=""
COMMERCELAYER_SCOPE=""

# Get these values at https://manage.auth0.com
AUTH0_DOMAIN=""
AUTH0_CLIENTID=""
AUTH0_CALLBACK="http://localhost:8000/callback"